.input{
    width: 60vh;
    margin-left: auto;
    margin-right: auto;
}
.form-control{
    height:5vh;
    margin-top: 4vh;
}
.h4{
    margin-top: 2vh;
    text-align: center;
   
}
a{ 
    text-decoration: none;
}
.btn2{
    text-align: center;
    font-size: 3vh;
   
}
.up{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.don{
    font-size: 3vh;
    padding-right: 5vh;
}