.employers-list{
  margin-top: 18vh;
  width: 80vh;
  margin-left: 10vh;

}
.ul{

}
.employer-item{
  display: flex;
  border: 1px solid black;
  border-radius: 1vh;
  justify-content: space-between;
  margin-top: 2vh;
}
.actions{
  margin-right: 1vh;
  padding: 1vh;
}
.V{
  margin-right: 2vh;
}



