.authict-page {
  text-align: center;
  background: linear-gradient(to bottom, #d4a0f9, #8fcaff);
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authic-page {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background: rgb(80, 78, 78);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.hidden-input {
  display:flex;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
}

/* .profile-info {
  flex-grow: 1;
}

.profile-name {
  margin: 0;
  font-size: 24px;
}

.profile-title {
  margin: 0;
  font-size: 16px;
  color: #666;
} */

.profile-card {
  padding: 20px;
  border-radius: 10px;
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
  position: relative;
}

.card-title {
  margin: 0 0 10px;
  font-size: 18px;
}

.card-content {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: white;
  font-size: 14px;
  line-height: 1.5;

}

.add-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.save-button {
  padding: 10px 20px;
  font-size: 16px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background: #0056b3;
}

.document-name {
  margin-top: 10px;
  font-size: 14px;
}