@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
body{
    background: linear-gradient(to bottom, #9B46C2, #9969BB,#9796B1,#94CAA6);
    height: 89vh;

}
.h1{
    text-align: center;
    font-size: 12vh;
    margin-top: 10vh;
    color: #21755C ;
}
.p1{
    text-align: center;
    font-size: 4vh;
    color: rgb(199, 199, 199);
}
.row{
    margin-top: 10vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.icon{
    width: 23vh;
}
.icon-name{
    font-size: 4vh;
    font-weight: 400; 
}
.btn1{
    font-size: 3vh;
    margin-top: 2vh;
    
}

/* Media Query */

@media (min-width: 576px){
    body{
        height: 189vh;
    }
    .h1{
        font-size: 6vh;
        margin-top: 18vh;
    }
    .p1{
        font-size: 3vh;
    }
    .wel{
        margin-top: 3vh;
        padding-top: 3vh;
    }

}
@media (min-width: 768px){
    body{
        height: 120vh;
    }
    .h1{
        font-size: 8vh;
        margin-top: 10vh;
    }
    .wel{
        margin-top: 1vh;
        padding-top: 3vh;
    }
    .p1{
        font-size: 3vh;
    }
}
@media (min-width: 992px){
    body{
        height: 120vh;
    }
    .h1{
        font-size: 10vh;
        margin-top: 10vh;
    }
    .wel{
        margin-top: 1vh;
        padding-top: 3vh;
    }
    .p1{
        font-size: 4vh;
    }
}
@media (min-width: 992px){
    body{
        height: 89vh;
    }
    .h1{
        font-size: 10vh;
    }
}