/* navbar.css */
/* navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Added horizontal padding */
    background-color: #333;
    color: white;
    width: 100%; /* Ensures the navbar spans the full width of the screen */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    position: fixed; /* Fixed position to stay at the top */
    top: 0;
    left: 0;
    /* z-index: 1000; Ensures the navbar is above other content */
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .logout-button:hover {
    background-color: #ff6666;
  }
  


  
  